.user {
  & {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 5rem;
    transform: translate3d(0, 0, 0);
    // overflow: hidden;
    @include med('=mob') {
      padding-left: 0;
    }
    transition: padding-left 0.3s, transform 0.3s;
    // @include theme {
    //   background: co(weak);
    // }
  }

  // 主区域
  .user-main {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    transition: padding-top 0.3s;
  }

  .user-middel {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    overflow: auto;

    @include med('=mob') {
      padding: 1rem;
    }
  }

  .orders-table {
    img {
      max-width: 5rem;
    }
  }

  table th {
    white-space: nowrap;
  }

  table td,
  table th {
    @include med('<dpc') {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .ux-hover:hover {
    @include theme {
      box-shadow: inset 0 0 0 100em rgba(co(text), 0.04);
    }
  }
}
