/**
 * 请注意，因为这个脚手架开启了PX转REM,所以如果有NPM插件组件不希望PX被转成REM的请不要在这里导入样式，而是直接在index.tsx中导入
 */

$theme: (
  light: (
    main: #ff563f,
    vice: #ff7700,
    text: #222222,
    fore: #ffffff,
    back: #f5f5f5,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4
  ),
  dark: (
    main: #08e598,
    vice: #b54eea,
    text: rgba(255, 255, 255, 0.7),
    fore: #1d1d1d,
    back: #151515,
    land: #ff9900,
    link: #dd7f49,
    code: #e23861,
    well: #4bbc73,
    warn: #fb9a2a,
    risk: #f95850,
    info: #0889e4
  )
);

// 核心
@import '@mcui/core';
// 按钮
@import '@mcui/btns/btns@a';
