@font-face {
  font-family: "icon"; /* Project id 3251013 */
  src: url('iconfont.woff2?t=1647413179405') format('woff2'),
       url('iconfont.woff?t=1647413179405') format('woff'),
       url('iconfont.ttf?t=1647413179405') format('truetype');
}

.icon {
  font-family: "icon" !important;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e69a";
}

.icon-next:before {
  content: "\e61f";
}

.icon-refresh:before {
  content: "\e606";
}

.icon-message:before {
  content: "\e6a2";
}

.icon-view:before {
  content: "\e6a6";
}

.icon-dropdown:before {
  content: "\e8ea";
}

.active .icon-order:before {
  content: "\e66d";
}

.active .icon-finance:before {
  content: "\e67c";
}

.active .icon-logistics:before {
  content: "\e67d";
}

.active .icon-contact:before {
  content: "\e675";
}

.active .icon-deliver:before {
  content: "\e67f";
}

.icon-deliver:before {
  content: "\e680";
}

.icon-received:before {
  content: "\e62e";
}

.icon-page:before {
  content: "\e69e";
}

.icon-email:before {
  content: "\e78a";
}

.icon-back:before {
  content: "\e6d7";
}

.icon-lang:before {
  content: "\e693";
}

.icon-contact:before {
  content: "\e652";
}

.icon-shop:before {
  content: "\e657";
}

.icon-order:before {
  content: "\e6b4";
}

.icon-email1:before {
  content: "\e60c";
}

.icon-cancel:before {
  content: "\e661";
}

.icon-revise:before {
  content: "\e638";
}

.active .icon-page:before {
  content: "\e629";
}

.icon-send:before {
  content: "\e683";
}

.icon-more:before {
  content: "\e688";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-home:before {
  content: "\e6a1";
}

.icon-password:before {
  content: "\e6a3";
}

.icon-theme:before {
  content: "\e6ad";
}

.icon-logo:before {
  content: "\e651";
}

.icon-username:before {
  content: "\e654";
}

.icon-title:before {
  content: "\e658";
}

.icon-logistics:before {
  content: "\e8ec";
}

.icon-international-order:before {
  content: "\e659";
}

.icon-address:before {
  content: "\e65a";
}

.icon-finance:before {
  content: "\e65b";
}

.icon-dashboard:before {
  content: "\e65c";
}

.icon-setting:before {
  content: "\e65d";
}

.icon-search:before {
  content: "\e65e";
}

.icon-side:before {
  content: "\e65f";
}

.icon-buycart:before {
  content: "\e660";
}

.icon-max:before {
  content: "\e665";
}

.icon-min:before {
  content: "\e666";
}

.icon-filter:before {
  content: "\e667";
}

.active .icon-buycart:before {
  content: "\e668";
}

.active .icon-dashboard:before {
  content: "\e669";
}

.active .icon-home:before {
  content: "\e66a";
}

.active .icon-address:before {
  content: "\e66c";
}

.active .icon-international-order:before {
  content: "\e678";
}

